<section class="p-6 flex justify-center">
  <form [formGroup]="conduceForm" class="w-full max-w-3xl">
    <div class="mb-6">
      <label
        for="empresa"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Empresa</label
      >
      <nz-select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a person"
        formControlName="empresa"
        nzNotFoundContent="No se encontraron resultados"
        nzPlaceHolder="Seleccione una empresa"
        [nzDisabled]="loading"
      >
        <nz-option
          [nzLabel]="empresa.label"
          [nzValue]="empresa.value"
          *ngFor="let empresa of empresas"
        ></nz-option>
      </nz-select>
    </div>
    <div class="mb-6">
      <label
        for="placa"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Placa</label
      >
      <input
        nz-input
        type="text"
        id="placa"
        formControlName="placa"
        mask="SSS 000"
        oninput="this.value = this.value.toUpperCase()"
        placeholder="XXX 000"
        [appDisableControl]="loading"
        class="outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div class="mb-6">
      <label
        for="hora"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Hora de salida</label
      >
      <nz-time-picker
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-0 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="hora"
        [nzUse12Hours]="true"
        nzFormat="hh:mm a"
        nzPlaceHolder="Seleccione una hora"
        nzNowText="Ahora"
        nzOkText="Listo"
        [nzDisabled]="loading"
      ></nz-time-picker>
    </div>
    <div class="mb-6">
      <label
        for="destino"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Destino</label
      >
      <nz-select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a person"
        formControlName="destino"
        nzNotFoundContent="No se encontraron resultados"
        nzPlaceHolder="Seleccione un destino"
        [nzDisabled]="loading"
      >
        <nz-option
          [nzLabel]="ciudad.label"
          [nzValue]="ciudad.value"
          *ngFor="let ciudad of ciudades"
        ></nz-option>
      </nz-select>
    </div>
    <div class="mb-6">
      <label
        for="numeroConduce"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Número Conduce</label
      >
      <input
        nz-input
        type="text"
        id="numeroConduce"
        formControlName="numeroConduce"
        mask="0000000"
        placeholder="0000000"
        [appDisableControl]="loading"
        class="outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <button
      nz-button
      nzSize="large"
      nzType="primary"
      [nzLoading]="loading"
      (click)="reset()"
      type="button"
      class="float-left px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-red-700 hover:bg-red-600 focus:bg-red-600 border-red-700 hover:border-red-600 focus:border-red-600 rounded-lg text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
    >
      <span nz-icon nzType="clear" style="font-size: 20px;"></span>
      Limpiar
    </button>
    <button
      nz-button
      nzSize="large"
      nzType="primary"
      [nzLoading]="loading"
      (click)="save()"
      type="button"
      class="float-right px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-600 focus:bg-blue-600 border-blue-700 hover:border-blue-600 focus:border-blue-600 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <span nz-icon nzType="save" style="font-size: 20px;"></span>
      Guardar
    </button>
  </form>
</section>
