::ng-deep {
  .ant-picker-time-panel
    .ant-picker-footer
    .ant-picker-ranges
    .ant-picker-ok
    button {
    background: #1890ff !important;
  }

  //! Estilos de las notificaciones
  .ant-notification-notice.loading-notification .ant-notification-notice-close{
    display: none !important;
  }

  .ant-notification-notice.loading-notification-completed .ant-notification-notice-close{
    display: flex !important;
  }

  .ant-notification-notice .ant-notification-notice-content .ant-notification-notice-with-icon .ant-notification-notice-icon{
    display: flex;
  }
}

:host::ng-deep {
  input {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:focus{
      border-color: #1890ff;
    }
  }

  nz-select.ant-select-focused{
    border-color: #1890ff;
  }

  nz-select nz-select-top-control {
    background: transparent;
    border: none;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: transparent;
    border: none;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
      border: none;
      box-shadow: none;
  }

  .ant-picker:hover{
    @apply border-gray-300;
  }

  .ant-picker-focused{
    box-shadow: none;
    border-color: #1890ff;
  }

  .ant-picker-focused:hover{
    box-shadow: none;
    border-color: #1890ff;
  }

  .ant-picker-input > input{
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
  }
}
