<section>
  <div class="px-6 text-center text-gray-800 bg-gray-50">
    <h1 class="mb-12 text-2xl font-bold md:text-3xl xl:text-4xl">
      The user have been registered!
      <br>
      <span class="text-blue-600">
        We have sent a confirmation email to <strong> {{ user?.email }} </strong>
      </span>
    </h1>
    <p class="text-blue-600 text-2xl">
      Please check your email and click to de link to verify your email address.
    </p>
    <button
      (click)="onResendEmail()"
      class="mt-5 inline-block py-3 uppercase bg-transparent rounded px-7 hover:text-white hover:bg-gray-500">
      Resend
    </button>
  </div>
</section>
