<nz-table #basicTable [nzData]="tableData" [nzShowPagination]="false">
  <thead>
    <tr>
      <th></th>
      <th>Placa</th>
      <th>Empresa</th>
      <th>Destino</th>
      <th>Hora de Salida</th>
      <th>Número de conduce</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td class="text-center">{{i}}</td>
      <td>{{data.placa}}</td>
      <td>{{data.empresa}}</td>
      <td>{{data.destino}}</td>
      <td>{{data.horaSalida}}</td>
      <td>{{data.numeroConduce}}</td>
      <td>
        <a>Action </a>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
